:root{
    --main-color: 	#D2AA7D;
    --black: #13131a;
    --bg: #E0FFFF;
    --border: 0.1rem solid rgba(0,0,0);
    font-size: 10px;
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.1s linear;
    font-family: "Sour Gummy", sans-serif;
}

.img_head{
    border-radius: 50%;
}

body{
    background: linear-gradient(to bottom,white, #def7fb)
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    background-color: #def7fb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1rem var(--border);
}

.navbar a{
    margin: 0 1rem;
    font-size: 2.4rem;
    color: #000 ;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2.8rem;
}

.icons img{
    margin: 0.5rem;
    cursor: pointer;
}

.icons img:hover{
    width: 40px;
    height: 40px;
}

.button{
    background-color: var(--main-color);
    color: #000;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.button:hover{
    letter-spacing: 0.1rem;
}

.home_container section{
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.content {
    max-width: 70rem;
    text-transform: none;
}

.content h3{
    font-size: 7rem;
} 

.content p{
    font-size: 2rem;
    font-weight: 150;
    line-height: 1.6;
    padding: 1rem 0;
    text-transform: none;
}

.title{
    color: var(--black);
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.title span{
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.about{
    border-color: #000;
}

.about .row{
    display: flex;
    align-items: center;
    background-color:#EEF9FB;
    gap: 1.5rem;
}

.about .row .content{
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .row .content p{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
}

.shop .box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.2rem;
}

.shop .title{
    padding: 1rem 0;
}

.shop .box .caixa{
    text-align: center;
    border: var(--border);
    padding: 2rem;
    background-color:#def7fb;
}

.shop .box .caixa img{
    height: 15rem;
    border-radius: 25%;
}

.shop .box .caixa h3{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}

.shop .box .caixa .price{
    color: #000;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.shop .box .caixa:hover{
    background-color:#F9FEFF;
}
